[submodule "geth"]
	path = geth
	url = https://github.com/mdehoog/go-ethereum.git
	branch = eip-4844
[submodule "prysm"]
	path = prysm
	url = https://github.com/prysmaticlabs/prysm.git
	branch = eip4844
[submodule "nethermind"]
	path = nethermind
	url = https://github.com/NethermindEth/Nethermind
	branch = feature/eip-4844
